{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'calc_pages/style.css' %}">
</head>
<body>
    <h2>Calculator</h2>

    <form id="calc-form">
    {% csrf_token %}
    <input type="number" id="num1" name="num1" placeholder="First number" required value="{{ num1 }}">
    
    <select id="operation" name="operation">
        <option value="+">+</option>
        <option value="-">−</option>
        <option value="*">×</option>
        <option value="/">÷</option>
    </select>
    
    <input type="number" id="num2" name="num2" placeholder="Second number" required value="{{ num2 }}">

    <input type="text" id="result-label" class="result" placeholder="Result will appear here" readonly>

    <div class="buttons">
    <button type="submit" id="calc-btn">Calculate</button>
    <button type="button" id="clear-btn">Clear</button>
    </div>

    </form>

    <script src="{% static 'calc_pages/script.js' %}"></script>
</body>
</html>
